# EditorConfig for Visual Studio
root = true

# Global configurations
[*]
indent_style = space
indent_size = 4
max_line_length = 5

# Configurations for C# files
[*.cs]
max_line_length = 5
indent_size = 4


