name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore StockSimulator.sln

      - name: Build Solution
        run: dotnet build --configuration Release StockSimulator.sln

      - name: Run Application
        run: dotnet run --project src/StockSimulator.API/StockSimulator.API.csproj

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore StockSimulator.sln

      - name: Run Unit Tests
        run: dotnet test tests/StockSimulator.Tests.Unit/StockSimulator.Tests.Unit.csproj

      - name: Run Integration Tests
        run: dotnet test tests/StockSimulator.Tests.Integration/StockSimulator.Tests.Integration.csproj
